#class_title {
  padding: 0 1rem 2rem 1rem;
}

.container {
  width: 100%;
}

.info_title {
  width: 100%;
  padding: 2rem 1rem;
  background-color: $beige;
  margin: 0.2rem 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.assignment_title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
  border-bottom: 2px solid $beige;
  padding: 2rem 0;
}

.content {
  padding: 1rem;
  text-align: center;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid $beige;
  padding-top: 2rem;
}

.icon {
  height: 20px;
  cursor: pointer;
  margin: 0.1rem;
}

.arrow {
  height: 20px;
}

.feedback_container {
  border: 1px solid $beige;
  padding: 1rem;
  margin: 1rem 0;
}

.smaller {
  height: 15px;
}

.material {
  background-color: white;
  border: 1px solid $text-color;
  padding: 2rem;
  margin: 2rem 0;
  height: 600px;

  h3 {
    margin-bottom: 2rem;
  }
}

table {
  text-align: start;
  border: 1px solid $text-color;

  th,
  td {
    padding: 1.5rem;
    font-family: $paragraph_font;
    font-size: 1rem;
    border: 1px solid $text-color;
  }
}

// Private view

.classbtn {
  margin: 2rem auto;
}

.modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #33333370;
  z-index: 200;

  form {
    background-color: $white;
    width: 90vw;
    max-width: 400px;
    padding: 3rem;
    margin: 10rem auto;
    display: flex;
    flex-direction: column;
    text-align: start;
    justify-content: space-between;
    position: relative;
    border-radius: 5px;

    input {
      margin: 0;
    }

    h3 {
      margin-bottom: 0.5rem;
    }

    label {
      margin: 0.5rem 0;
    }

    button {
      margin: 1rem 0;
    }

    #um_close,
    #ua_close {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
    }
  }
}

@media screen and (min-width: 800px) {
  .container {
    width: 25vw;
  }

  .content {
    position: absolute;
    left: 25vw;
    top: 195px;
    width: calc(100% - 25vw);
    padding: 2rem;
    border: 2px solid $beige;
    min-height: calc(100% - 192px);
  }

  .arrow {
    display: none;
  }

  .material {
    height: 800px;
    margin: 3rem;
  }
}
