div#home_container {
  display: grid;
  grid-template-columns: auto;

  section {
    border-bottom: 1px solid $text-color;
    padding: 1rem;
  }

  article {
    border-bottom: solid 1px rgb(184, 184, 184);
    padding-bottom: 1vh;
    padding-top: 1vh;
    background-color: $beige;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: #33333340 3px 3px;
  }

  h3 {
    padding-bottom: 2vh;
  }

  li {
    list-style-type: circle;
    list-style-position: inside;
  }
}

@media screen and (min-width: 800px) {
  div#home_container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "post assignments"
      "post events";

    section {
      border: none;
    }

    section:nth-of-type(1) {
      border-right: 1px solid $text-color;
    }

    section:nth-of-type(2) {
      border-bottom: 1px solid $text-color;
    }

    #post {
      grid-area: post;
    }

    #assignments {
      grid-area: assignments;
    }

    #events {
      grid-area: events;
    }
  }
}
