body#landing_body {
  background: $main_blue;
}

div#log_in_div {
  background: $white;
  height: 30vh;
  width: auto;
  padding: 5vh;
  border-radius: 2vh;
  margin-bottom: 5vh;
  box-shadow: #7193a7 10px 10px;
}

form {
  margin-top: 4vh;
  text-align: center;
}
input {
  margin: 1vh;
  height: 1.5rem;
}

#log_in_logo {
  height: 150px;
  margin: 3rem;
}

div#container {
  display: flex;
  flex: 1fr 2fr 1fr;
  flex-direction: column;
  align-items: center;
}
