$main_blue: #79a0b7;
$blue-darker: #7c98a8;
$blue-lighter: #9ed2f0;
$beige: #f7e7cb;
$text-color: #333333;
// $white: #f5f5f5;
$white: #f9f8f4;
$header_font: "Quicksand", sans-serif;
$paragraph_font: "Montserrat", sans-serif;
