* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
}

p,
label {
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-size: 1rem;
}

a {
  font-family: "Montserrat", sans-serif;
  color: #9ed2f0;
  font-size: 1.1rem;
  text-decoration: none;
}

a:hover {
  color: #7c98a8;
}

.hidden {
  display: none;
}

button {
  background-color: #79a0b7;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #f5f5f5;
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #7c98a8;
}

main {
  margin-top: 120px;
}

header {
  background-color: #79a0b7;
  width: 100%;
  padding: 1rem;
}

#header_logo {
  width: 150px;
  height: 65px;
}

#burger_icon {
  font-size: 2rem;
  color: #f5f5f5;
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

header {
  position: fixed;
  top: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
}

nav a {
  color: #f5f5f5;
  font-weight: medium;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

nav a:hover {
  color: #f5f5f5;
  font-weight: 500;
}

@media screen and (min-width: 800px) {
  #burger_icon {
    display: none;
  }
  nav#nav {
    display: block;
    position: absolute;
    top: 3rem;
    right: 2rem;
  }
}

body#landing_body {
  background: #79a0b7;
}

div#log_in_div {
  background: #f5f5f5;
  height: 30vh;
  width: auto;
  padding: 5vh;
  border-radius: 2vh;
  margin-bottom: 5vh;
  -webkit-box-shadow: #7193a7 10px 10px;
          box-shadow: #7193a7 10px 10px;
}

form {
  margin-top: 4vh;
  text-align: center;
}

input {
  margin: 1vh;
  height: 1.5rem;
}

#log_in_logo {
  height: 150px;
  margin: 3rem;
}

div#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1fr;
      -ms-flex: 1fr 2fr 1fr;
          flex: 1fr 2fr 1fr;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#classes {
  width: 80vw;
  margin: 0 auto;
}

#classes_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.class {
  width: 380px;
  height: 200px;
  background-color: #f7e7cb;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: #33333340 3px 3px;
          box-shadow: #33333340 3px 3px;
  margin: 1rem 1rem 1rem 0;
  padding: 1rem;
  -ms-flex-preferred-size: 350px;
      flex-basis: 350px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  text-align: center;
}

.class h2 {
  margin: 2rem 0;
}

.class:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}
/*# sourceMappingURL=styles.css.map */