* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fefbef;
}

h1 {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  color: #333333;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.7rem;
  color: #333333;
}

h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.3rem;
  color: #333333;
}

h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
  color: #333333;
}

p,
label,
li,
time {
  font-family: "Montserrat", sans-serif;
  color: #333333;
  font-size: clamp(0.9rem, 2vw, 1rem);
}

a {
  font-family: "Montserrat", sans-serif;
  color: #9ed2f0;
  font-size: 1.1rem;
  text-decoration: none;
}

a:hover {
  color: #7c98a8;
}

.hidden {
  display: none;
}

button {
  background-color: #79a0b7;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: #fefbef;
  padding: 0.7rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #7c98a8;
}

main {
  margin-top: 120px;
}

header {
  background-color: #79a0b7;
  width: 100%;
  padding: 1rem;
  z-index: 100;
}

#header_logo {
  width: 150px;
  height: 65px;
}

#burger_icon {
  font-size: 2rem;
  color: #fefbef;
  cursor: pointer;
  position: absolute;
  top: 2rem;
  right: 2rem;
}

header {
  position: fixed;
  top: 0;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  margin: 0 auto;
}

nav a {
  color: white;
  font-weight: medium;
  padding: 1rem 0.5rem 0.5rem 0.5rem;
}

nav a:hover {
  color: #fefbef;
  font-weight: 500;
}

@media screen and (min-width: 800px) {
  #burger_icon {
    display: none;
  }
  nav#nav {
    display: block;
    position: absolute;
    top: 3rem;
    right: 2rem;
  }
}

body#landing_body {
  background: #79a0b7;
}

div#log_in_div {
  background: #fefbef;
  height: 30vh;
  width: auto;
  padding: 5vh;
  border-radius: 2vh;
  margin-bottom: 5vh;
  -webkit-box-shadow: #7193a7 10px 10px;
          box-shadow: #7193a7 10px 10px;
}

form {
  margin-top: 4vh;
  text-align: center;
}

input {
  margin: 1vh;
  height: 1.5rem;
}

#log_in_logo {
  height: 150px;
  margin: 3rem;
}

div#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1fr;
      -ms-flex: 1fr 2fr 1fr;
          flex: 1fr 2fr 1fr;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#classes {
  width: 90vw;
  margin: 0 auto;
}

#classes_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: 1px solid #7c98a8;
  margin-top: 1rem;
}

.class {
  width: 100vw;
  height: 170px;
  background-color: #f7e7cb;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-shadow: #33333340 3px 3px;
          box-shadow: #33333340 3px 3px;
  margin: 1rem 1rem 1rem 0;
  padding: 1rem;
  -ms-flex-preferred-size: 400px;
      flex-basis: 400px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  text-align: center;
}

.class h2 {
  margin: 2rem 0;
}

.class:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

#class_title {
  padding: 0 1rem 2rem 1rem;
}

.container {
  width: 100%;
}

.info_title {
  width: 100%;
  padding: 2rem 1rem;
  background-color: #f7e7cb;
  margin: 0.2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

.assignment_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  border-bottom: 2px solid #f7e7cb;
  padding: 2rem 0;
}

.content {
  padding: 1rem;
  text-align: center;
}

.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #f7e7cb;
  padding-top: 2rem;
}

.icon {
  height: 20px;
  cursor: pointer;
  margin: 0.1rem;
}

.arrow {
  height: 20px;
}

.feedback_container {
  border: 1px solid #f7e7cb;
  padding: 1rem;
  margin: 1rem 0;
}

.smaller {
  height: 15px;
}

.material {
  background-color: white;
  border: 1px solid #333333;
  padding: 2rem;
  margin: 2rem 0;
  height: 600px;
}

.material h3 {
  margin-bottom: 2rem;
}

table {
  text-align: start;
  border: 1px solid #333333;
}

table th,
table td {
  padding: 1.5rem;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  border: 1px solid #333333;
}

.classbtn {
  margin: 2rem auto;
}

.modal {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #33333370;
  z-index: 200;
}

.modal form {
  background-color: #fefbef;
  width: 90vw;
  max-width: 400px;
  padding: 3rem;
  margin: 10rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  border-radius: 5px;
}

.modal form input {
  margin: 0;
}

.modal form h3 {
  margin-bottom: 0.5rem;
}

.modal form label {
  margin: 0.5rem 0;
}

.modal form button {
  margin: 1rem 0;
}

.modal form #um_close,
.modal form #ua_close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .container {
    width: 25vw;
  }
  .content {
    position: absolute;
    left: 25vw;
    top: 195px;
    width: calc(100% - 25vw);
    padding: 2rem;
    border: 2px solid #f7e7cb;
    min-height: calc(100% - 192px);
  }
  .arrow {
    display: none;
  }
  .material {
    height: 800px;
    margin: 3rem;
  }
}

div#home_container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
}

div#home_container section {
  border-style: solid;
  border-width: 1px;
  margin: 2vh;
  padding: 2vh;
}

div#home_container article {
  border-bottom: solid 1px #b8b8b8;
  padding-bottom: 1vh;
  padding-top: 1vh;
}

div#home_container h3 {
  padding-bottom: 2vh;
}

div#home_container li {
  list-style-type: circle;
  list-style-position: inside;
}

@media screen and (min-width: 800px) {
  div#home_container {
    -ms-grid-columns: 2fr 1fr;
        grid-template-columns: 2fr 1fr;
        grid-template-areas: "post assignments" "post events";
  }
  div#home_container #post {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: post;
  }
  div#home_container #assignments {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: assignments;
  }
  div#home_container #events {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: events;
  }
}
/*# sourceMappingURL=styles.css.map */